<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">NºContrato</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lucas</td>
            <td>43</td>
            <td>135348</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Nicolas</td>
            <td>56</td>
            <td>466268</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Jorge</td>
            <td>26</td>
            <td>846383</td>
        </tr>
    </tbody>
</table>