<style>
    #button {
        padding: 8.5px 20px;
        border-radius: 25px;
        border: 0;
        background-color: white;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 12px;
        transition: all .5s ease;
    }

        #button:hover {
            letter-spacing: 3px;
            background-color: hsl(343deg 96.2% 41.2%);
            color: hsl(0, 0%, 100%);
            box-shadow: #ce045f 0px 7px 29px 0px;
        }

        #button:active {
            letter-spacing: 3px;
            background-color: hsl(343deg 96.2% 41.2%);
            color: hsl(0, 0%, 100%);
            box-shadow: #ce045f 0px 0px 0px 0px;
            transform: translateY(10px);
            transition: 100ms;
        }
    #adicionar{
        font-family:'Century Gothic';
        color: rgb(129,129,129);
        text-decoration: none
    }
</style>
@if(ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}
else
{
    <div class="alert-success">
        @ViewData["MsgSucess"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">CEP</th>
            <th scope="col">Ver Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1358</td>
            <td>Mark</td>
            <td>23</td>
            <td>88354-650</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button id="button">
                        <a id="adicionar" type="submit" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88354-650"> Endereco</a>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>1398</td>
            <td>Jacob</td>
            <td>28</td> 
            <td>88354-670</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button id="button">
                        <a id="adicionar" type="submit" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88354-670"> Endereco</a>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>1568</td>
            <td >Larry </td>
            <td>32</td>
            <td>88354-670</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button id="button">
                        <a id="adicionar" type="submit" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88354-670"> Endereco</a>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button id="button" type="button" class="btn btn-light" type="button"><a id="adicionar" href="AdicionarAluno"> Adicionar Aluno </a> </button>
</div>

